.paginationP a,
.paginationP span {
  padding: 7px 18px;
  border: 1px solid #eee;
  margin-left: -2px;
  margin-right: -2px;
  background-color: #ffffff;
  display: inline-block;
  text-decoration: none;
}

.paginationP a {
  &:hover {
    background-color: #f1f1f1;
    color: #333;
  }
}

.paginationP {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px !important;
}
