<div class="container-fluid">
    <div class="main_row row py-5 mx-0">
        <div class="col-md-10 mx-auto">
            <div class="row d-flex  justify-content-between">
                <div class="col-md-2">
                    <p class="font-weight-bold footer_subheading">Cricket Posts</p>
                    <p><a class="footer__link" href="#">Blog1</a></p>
                    <p><a class="footer__link" href="#">Blog2</a></p>
                    <p><a class="footer__link" href="#">Blog3</a></p>
                    <p><a class="footer__link" href="#">Blog4</a></p>
                </div>
                <div class="col-md-2">
                    <p class=" font-weight-bold footer_subheading">Latest Posts</p>
                    <div class="usefull_links">
                        <p><a class="footer__link" href="#">Blog5</a></p>
                        <p><a class="footer__link" href="#">Blog6</a></p>
                        <p><a class="footer__link" href="#">Blog7</a></p>
                        <p><a class="footer__link" href="#">Blog8</a></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <p class="font-weight-bold footer_subheading">Website Name</p>
                    <p><a class="footer__link" href="/terms-and-conditions">Terms and Conditions</a></p>
                    <p><a class="footer__link" href="/privacy-policy">Privacy Policy</a></p>
                    <p><a class="footer__link" href="/disclaimer">Disclaimer</a></p>
                </div>
                <div class="col-md-4">
                    <p class="footer_subheading">Feedback</p>
                    <p> Share your expierence with Math-World</p>
                    <div class="input_div">
                        <i class="far fa-envelope"></i>
                        <input type="text" placeholder="Enter Your Email" class="input__design">
                    </div>
                    <a href="#">
                        <button class="my_btn mt-3" value="Enter Your Email">Submit</button>
                    </a>
                </div>
                <div class="col-12 mt-2">
                    <p class="footer_subheading text-center">Follow us on</p>
                    <div class="icons d-flex align-items-center justify-content-center">
                        <a target="_blank" href="https://www.facebook.com/">
                            <i class="fab fa-facebook-square s_link"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter-square s_link"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/">
                            <i class="fab fa-linkedin-in s_link"></i>
                        </a>
                        <a target="_blank" href="https://github.com/">
                            <i class="fab fa-github s_link"></i>
                        </a>
                        <a target="_blank" href="https://slack.com/intl/en-in/">
                            <i class="fab fa-slack s_link"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 py-3" style="background-color: #000;">
    <div class="col-12">
        <div class="d-flex justify-content-between px-md-5 px-0 footer__flexbox">
            <p class="m-0 text-white">© 2020 Website-Name — Made with
                <span class="animate__animated animate__heardBeat animate__infinite" style="color:red">&#x2764;</span>
                for the people of the internet.
            </p>
            <p class="m-0"><a class="footer__link" href="/about-us">About Us</a>
                <a class="footer__link" href="/contact-us">| Contact Us</a>
            </p>
        </div>
    </div>
</div>